<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Halo Kit Fox</title>
  </head>
  <body>
    <marquee style='margin-bottom: 50px;'>Halaman Utama</marquee>
    <a href='/supplier'></a></br>
    

  </body>
</html>
